.team-container {
    display: grid;
    gap: 15px;
    padding: 25px;
    grid-template-columns: 1fr;
}

.team-card {
    padding: 10px;
    text-align: center;
    horiz-align: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
}

.team-card a {
    display: flex;               /* Enable flexbox */
    align-items: center;         /* Vertically center the image and text */
    justify-content: flex-start; /* Align items from the start */
    text-decoration: none;       /* Remove underline from the link */
    color: inherit;              /* Inherit the text color for the link */
}

.member-name {
    padding-left: 5vw;
    margin: 0;           /* Remove default margin */
}

.team-organizer {
    background-color: #ffb2ec;
}

.team-member {
    background-color: #b2f2ff;
}

/*/ Mobile: 1 column layout /*/
@media (max-width: 600px) {
    .team-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) {
    .team-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .team-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .team-container{
        grid-template-columns: repeat(3, 1fr);
    }
}


.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 78px;
}

.subtitle{
    text-align: left ;
    font-weight: bold;

}

.image {
    padding-left: 0px;
    margin-right: 10px;
    width: 75px;  /* Set equal width */
    height: 75px; /* Set equal height */
    max-width: 100%; /* Makes the image responsive */
    border-radius: 10px; /* Adds rounded corners */
    object-fit: cover; /* Ensures the image covers the whole area */
}
