<div class="container">
    <app-navbar></app-navbar>

    <div class="page-title">

        <p class="title">Echipa</p>
    </div>

    <div class="page-content">
        <p class="subtitle">Organizatori</p>
    </div>

    <div class="team-container">
        <div class="team-card team-organizer">Gabi Mircea</div>
        <div class="team-card team-organizer">Jane Smith</div>
        <div class="team-card team-organizer">Alice Johnson</div>
    </div>

    <div class="page-content">
        <p class="subtitle">Studenți</p>
    </div>

    <div class="team-container">
        <div class="team-card team-member">Bob Brown</div>
        <div class="team-card team-member">Charlie Davis</div>
        <div class="team-card team-member">Deni Stark</div>
        <div class="team-card team-member">Deni Stark</div>
    </div>

</div>
