<div class="container">
    <app-navbar></app-navbar>

    <div class="page-title">

        <p class="title">Echipa</p>
    </div>

    <div class="page-content">
        <p class="subtitle">Organizatori</p>
    </div>

    <div class="team-container">
        <div class="team-card team-organizer" *ngFor="let name of organizerNameList">
            <img class="image" src="../../assets/organizers/{{name}}.jpg" alt=name>
            <p class="member-name">{{name}}</p>
        </div>
    </div>

    <div class="page-content">
        <p class="subtitle">Studenți</p>
    </div>


    <div class="team-container">
        <div class="team-card team-member" *ngFor="let name of memberNameList">
            <img class="image" src="../../assets/members/{{name}}.jpg" alt=name>
            <p class="member-name">{{name}}</p>
        </div>
    </div>
</div>
