.container {
    display: grid;
    gap: 20px;
}

.home-content {
    padding-top: 120px;
    padding-left: 65px;
}

.page-content {
    padding-top: 20px;
}

.footer {
    position: relative; /* No longer fixed */
    width: 100%;
    color: #333;
    background-color: var(--primary-color);
    text-align: left;
    padding: 10px 0;
    margin-top: 20px; /* To give space between the content and footer */
}

.footer-content {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.5vw; /* Adaugă padding pentru a păstra indentarea textului */
}

.left-text, .right-text {
    flex: 1;
}
.left-text{
    margin-top: -65px;
}

.right-text {
    text-align: right;
}

.slideshow {
    position: relative; /* Allows for absolute positioning of children */
    max-width: 100%; /* Keep it responsive */
    overflow: hidden; /* Hide overflowing content */
}

.slideshow-container {
    display: flex; /* Align images horizontally */
    position: relative;
    max-width: 100%; /* Keep it responsive */
    margin: auto; /* Center it horizontally */
    overflow: hidden; /* Hide overflowing content */
    height: 400px; /* Set a specific height for the slideshow */
    padding-bottom: 15px;
}

.slide {
    min-width: 100%; /* Each image takes full width */
    height: 100%; /* Ensure each image takes full height of the container */
    object-fit: cover; /* Cover the entire area while maintaining aspect ratio */
    transition: opacity 1s ease-in-out; /* Fade in/out effect */
    opacity: 0; /* Start with images hidden */
}

.slide.active {
    opacity: 1; /* Show active image */
}

