.team-details {
    display: flex;                    /* Flexbox layout */
    align-items: flex-start;              /* Vertically center the content */
    justify-content: flex-start;
    gap: 30px;                        /* Space between the left and right columns */
    height: auto;        /* Adjust height to account for the top bar height (example 60px) */
    padding-top: 30px;
    flex-wrap: wrap;
}

.left-column {
    display: flex;                    /* Flexbox layout for left column */
    flex-direction: column;           /* Stack image and name vertically */
    align-items: center;              /* Center the content horizontally */
    max-width: 200px;                 /* Set maximum width for the left column */
    justify-content: center;          /* Vertically center content inside left column */
}

.image {
    width: 155px;                     /* Make the image rectangular */
    height: 205px;                    /* Rectangular height */
    object-fit: cover;                /* Keep the aspect ratio and fill the container */
    border-radius: 10px;              /* Slightly round corners to make it look better */
    margin-bottom: 10px;              /* Space between the image and name */
}

h2 {
    font-size: 1.5em;                 /* Adjust font size for the name */
    text-align: center;                 /* Center the name text */
    font-weight: bold;
}

.right-column {
    text-align: left;                 /* Align the text to the left */
    max-width: 500px;                 /* Set maximum width for the testimonial text */
    flex-direction: column;           /* Stack image and name vertically */
    align-items: center;

}

.under-text {
    align-items: flex-start;
    width: 100%;
    max-width: 100%;          /* Ensure the under-text spans the full width */
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-wrap: break-word;
    gap: 30px;
    height: auto;
}

main {
    width: 100%;
    max-width: 600px;
    background-color: #bcd6c3;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: 200px auto 20px auto;
    overflow-wrap: break-word
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}
