<!--<div class="container">-->
<!--    <main>-->
<!--        <section class="team-details">-->
<!--            <div>-->
<!--                <div class="left-column">-->
<!--                    <img class="image" src="../../assets/members/{{ teamMember?.name }}.jpg" alt="{{ teamMember?.name }}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="right-column">-->
<!--                <h2>{{ teamMember?.name }}</h2>-->
<!--                <p>Team: {{teamMember?.team}}</p>-->
<!--                <p>Year of study: {{teamMember?.year_of_study}}</p>-->
<!--                <p>Specialization: {{teamMember?.specialization}}</p>-->
<!--            </div>-->
<!--        </section>-->
<!--        <div class="under-text">-->
<!--            <p class="testimonial">{{ teamMember?.testimonial }}</p>-->
<!--        </div>-->
<!--    </main>-->
<!--</div>-->
<div class="container">
    <main>
        <section class="team-details">
            <div class="left-column">
                <h2>{{ teamMember?.name }}</h2>
                <p>Team: {{teamMember?.team}}</p>
                <p>Year of study: {{teamMember?.year_of_study}}</p>
                <p>Specialization: {{teamMember?.specialization}}</p>
            </div>
            <div class="right-column">
                <img class="image" src="../../assets/members/{{ teamMember?.name }}.jpg" alt="{{ teamMember?.name }}">
            </div>
        </section>
        <div class="under-text">
            <p class="testimonial">{{ teamMember?.testimonial }}</p>
        </div>
    </main>
</div>

