<div class="footer">
    <footer>
        <div class="footer-content">
            <div class="left-text">
                <p>© ABC2024</p>
                <p>Proiect realizat de studentii Facultatii de Matematica si Informatica</p>
                <p>de la Universitatea Babes Bolyai din Cluj-Napoca</p>
            </div>
            <div class="right-text">
                <p>Site realizat de catre:</p>
                <p>Bic Tudor</p>
                <p>Butiurca Raluca</p>
                <p>Salajan Victor</p>
                <p>Vlaic Mirela-Elena</p>
            </div>
        </div>
    </footer>
</div>
