<div class="container">
    <p class="title">Titlu</p>
    <div>
        <div class="announcement">
            <div *ngFor="let post of posts$ | async">
                <p class="p1"><mat-icon>calendar_month</mat-icon></p>
                <p class="p2">{{post.date}}</p>
                <p>{{post.text}}</p>
                <a routerLink="/post-details/{{post.id}}">
                    <div>
                        <p class="p1">vezi mai multe</p>
                        <p class="p2"><mat-icon>more-vert</mat-icon></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

