.title {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    font-size: 2.5em;
}


.p1, .p2 {
    display: inline-block;
}

.title {
    text-align: center;
    font-weight: bold;
}

.p1, .p2 {
    display: inline-block;
}

.announcement {
    width: 90%;
    background-color: #bcd6c3;
    max-width: 800vw;
    border-radius: 10px;
    margin: auto auto 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 200px;
}

.continut {
    padding-left: 10px;
}

.continut_mai_mic{
    margin-bottom: 20px;
    border-bottom: 1px dotted #000;
}

.button-container {
    background: linear-gradient(to bottom, #478778, #bcd6c3);
    border: 1px solid #478778;
    padding: 4px 8px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    border-radius: 2px;
    margin-bottom: 10px;

}

.button-container:hover {
    background: linear-gradient(to top, #478778, #bcd6c3)
}
