<div class="container">
    <app-navbar></app-navbar>

    <div class="page-title">
        <p>Contact</p>
    </div>
</div>

<mat-card class="card-container">
    <p>
        <mat-icon>call</mat-icon>
        Telefon: 0748888999
    </p>
    <p>
        <mat-icon>mail</mat-icon>
        Email: a&#64;a.com
    </p>
    <p>
        <mat-icon>location_on</mat-icon>
        Adresa: Str. X nr 1232
    </p>
    <p>Send us a message:</p>
    <mat-form-field appearance="fill">
        <mat-label>Enter text</mat-label>
        <textarea matInput type="text"></textarea>
    </mat-form-field>
</mat-card>
