<div class="home-content">
    <h1>Welcome to our website!</h1>

    <section class="slideshow">
        <div class="slideshow-container">
            <img src="assets/poza1.jpg" alt="Slide1">

            <img src="assets/poza2.jpg" alt="Slide2">

            <img src="assets/poza3.jpg" alt="Slide3">
        </div>
    </section>

    <section>
        <h3>
            About the project
        </h3>
        <p>This is a project envisioned by pur passionate mentor Gabriel-Ioan Mircea, mai bine cunoscut in facultatea noastra ca Gabi Mircea. El era de tanar pasionat de arheologie, biologie si multe altele, insa pentru el si pentru dezvoltarea sa, arheologia a jucat un rol extrem de important, astfel el a dorit sa aduca un plus in meseria de arheolog, prin aplicatia noastra. Noi am incercat sa lucram cat mai indeaproape de un alt arheolog, Dinu, si sa incercam sa ii intalnim asteptarile cu privire la aceasta aplicatie de stocare a datelor arheologice si comunicare intre arheolog si biolog.</p>
    </section>

    <section>
        <h2>About Us</h2>
        <p>We are a team of students working together to develop this app that helps archaeologists.</p>
    </section>
</div>

<app-footer></app-footer>
