.topbar {
    display: flex;
    padding: 1rem 1.25rem;
    margin-bottom: 0.75rem;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
}