.topbar {
    box-sizing: border-box;
    position: fixed;
    width: 1525px;
    height: 70px;
    left: 0;
    top: 32px;

    background-color: #FFFFFF;
    border: 1px solid #3D3D3D;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-image {
    height: 50px; /* Adaptează înălțimea logo-ului în funcție de necesitate */
}

.nav-buttons {
    display: flex;
    gap: 15px; /* Distanța între butoane */
}
