.navbar {
    position: absolute;
    width: 90vw;
    max-width: 390vw;
    --navbar-height: 65px;            /* css variable */
    height: var(--navbar-height);
    left: 20px;
    right: 20px;
    --navbar-top: 17px;
    top: var(--navbar-top);
    margin: 20px auto;  /* 'auto' for horizontal centering */

    background: #FFFFFF;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;  /* Spațiu între titlu și meniu */
    align-items: center;             /* Centrează elementele vertical */
    padding: 6px 20px;
}


/* Stiluri pentru lista de meniu */
.navbar ul {
    list-style: none;                /* Fără buline pentru lista */
    display: flex;                   /* Afișează elementele pe orizontală */
    gap: 10px;                       /* Spațiu între elementele din listă */
}

/* Stil pentru link-urile de meniu */
.navbar a {
    text-decoration: none;           /* Fără linie sub text */
    color: black;                  /* Culoare albastră */
    font-weight: 600;                /* Puțin bold */
    font-size: 16px;                 /* Dimensiune font */
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
    color: lightskyblue;                  /* Culoare albă la hover */
    background-color: white;       /* Background albastru închis la hover */
}

.navbar a:active {
    background-color: white;       /* Even darker blue when active (on click) */
    color: white;                  /* Culoare albă la click */
}

.navbar ul li {
    margin-right: 15px;           /* Space between nav items */
}


/* Stil pentru buton */
.navbar .buton {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-icon {
    font-size: 23px;                 /* Adjust icon size */
    margin-right: 5px;               /* Space between icon and text */
}

.abc-text {
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: calc(var(--navbar-height) / 2); /* Calculate line-height based on navbar height */
    background-color: transparent;
    border: none;
}


