.button-auth {
    position: absolute;
    width: 95px;
    height: 20px;
    left: 1280px;
    top: 25px;

    font-family: 'Lufga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #1B1B1B;

    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0;
}

.button-register {
    font-family: 'Lufga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #1B1B1B;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0;
}

.rectangle-register {
    box-sizing: border-box;
    position: absolute;
    width: 115px;
    height: 26px;
    left: 1380px;
    top: 21px;

    border: 1px solid #16AD3E;
    backdrop-filter: blur(4px); /* Aceasta proprietate are suport limitat în browsere */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-sidebar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Asigură alinierea corectă a iconiței și textului */
    width: 100%;
    height: 100%;
}

.button-sidebar img.icon {
    width: 30px;
    height: 30px;
}

.button-sidebar .button-label {
    margin-left: 60px; /* Adaugă spațiu între iconiță și text */
    color: #000;
    font-size: 14px;
    font-weight: normal;
}
